<div class="encabezado">
  <div class="c-container">
    <div class="resultados">
      {{ cadenaVacia }}
    </div>
    <button type="button" (click)="regresar()">Del</button>
    <button type="button" (click)="actualizar('0')">0</button>
    <button type="button" (click)="borrar()">←</button>
    <button type="button" (click)="actualizarOperacion('/')">/</button>
    <button type="button" (click)="actualizarNumero('7')">7</button>
    <button type="button" (click)="actualizarNumero('8')">8</button>
    <button type="button" (click)="actualizarNumero('9')">9</button>
    <button type="button" (click)="actualizarOperacion('*')">*</button>
    <button type="button" (click)="actualizarNumero('4')">4</button>
    <button type="button" (click)="actualizarNumero('5')">5</button>
    <button type="button" (click)="actualizarNumero('6')">6</button>
    <button type="button" (click)="actualizarOperacion('-')">-</button>
    <button type="button" (click)="actualizarNumero('1')">1</button>
    <button type="button" (click)="actualizarNumero('2')">2</button>
    <button type="button" (click)="actualizarNumero('3')">3</button>
    <button type="button" (click)="actualizarOperacion('+')">+</button>
    <button type="button" (click)="actualizarNumero('.')">.</button>
    <button type="button" (click)="raizCuadrada()">√</button>
    <button type="button" (click)="sacarporcentaje()">%</button>
    <button type="button" (click)="resultados()">=</button>
  </div>
</div>
